@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root{
    /* Primary */
    --Soft-Red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Soft-Green: hsl(169, 46%, 71%);
    /* graphic design text */
    --Dark-Desaturated-Cyan: hsl(167, 40%, 24%);
    /* photography text */
    --Dark-Blue: hsl(198, 62%, 26%);
    /* footer */
    --Dark-Moderate-Cyan: hsl(168, 34%, 41%);

    /* Neutral */
    --Very-Dark-Desaturated-Blue: hsl(212, 27%, 19%);
    --Very-Dark-Greyish-Blue: hsl(213, 9%, 39%);
    --Dark-Greyish-Blue: hsl(232, 10%, 55%);
    --Greyish-Blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.mobile-image{
    max-width: 100%;
}

p,
h2,
h5{
    padding: .5em;
}

p{
    line-height: 1.5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Dark-Greyish-Blue);
}

h1,
h2,
h3,
h5,
button{
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

h1{
    padding: 1.5em;
    font-size: 2rem;
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: .25rem;
}

h2{
    color: var(--Very-Dark-Desaturated-Blue);
    font-size: 1.75rem;
}

h3{
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2rem;
}

h4{
    margin-top: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
h5:hover,
h5:focus,
button:hover,
button:focus{
    cursor: pointer;
}

.container {
    padding: 1em 1em 3em 1em;
}

/* header */

header{
    max-width: 100%;
    background-image: url(./images/mobile/image-header.jpg);
    background-color: hsl(200, 100%, 62%);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.sunny-side-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
}

.menu{
    position: relative;
}

.navigation{
    display: none;
}

.navigation-mobile{
    position: absolute;
    top: 4em;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1em;
    width: 16em;
    height: 16em;
    background-color: var(--White);
}

.top-arrow:before,
.top-arrow:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent var(--White) transparent;
}

.top-arrow:after {
    right: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent var(--White) transparent;
}

#contact{
    background-color: var(--Yellow);
    padding: 1em 1.5em;
    border-radius: 99px;
    border: none;

}

.arrow{
    margin-bottom: 8em;
}

/* main */

.fruit{

    display: flex;
    flex-direction: column;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30em;
}

.fruit > h2{
    padding: .5em 0;
}

.fruit > p {
    font-size: .9rem;
    line-height: 1.25rem;
    margin: 0;
    color: var(--Very-Dark-Desaturated-Blue);
}

.graphic-design{
    background-image: url(./images/mobile/image-graphic-design.jpg);
    background-color: var(--Soft-Green);
}

.photography{
    background-image: url(./images/mobile/image-photography.jpg);
    background-color: hsl(199, 100%, 69%);
}

.profile{
    width: 4em;
    border-radius: 100%;
    margin: 1em;
}

.image-collection{
    display: flex;
    flex-wrap: wrap;
}

.collection{
    max-width: 50%;
}


.testimonials > h3 {
    margin: 2em 0 0 0;
    color: var(--Greyish-Blue);
    letter-spacing: .25rem;
    font-size: .9rem;
}

.clients{
    padding: 1em;
}

.client-quote{
    margin: 1em 0;
}

.job-title{
    margin: .5em;
    font-size: .75rem;
}


/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Dark-Moderate-Cyan);
    width: 100%;
    background-color: var(--Soft-Green)
}

.logo{
    margin: 1em;
}

footer > img {
    filter: invert(38%) sepia(29%) saturate(730%) hue-rotate(118deg) brightness(58%) contrast(94%);
}

.menu-item {
    color: var(--Dark-Moderate-Cyan);
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.socials{
    margin: 1em;
}

.fa-brands{
    margin: .5em;
}

.fa-brands:hover,
.fa-brands:focus,
.menu-item:hover,
.menu-item:focus{
    cursor: pointer;
    color: var(--White);
}